<header>
    <img src="{{ url_for('static', filename='img/whfc-logo-letterpress.png') }}"
         alt="Wey Hill Football Club Logo - WHFC">
    <nav>
        <ul>
            <li><a href="{{ url_for('sign_up') }}">Home</a></li>
            <li><a href="{{ url_for('sign_up') }}">Fixtures</a></li>
            <li><a href="{{ url_for('sign_up') }}">Team</a></li>
            <li><a href="{{ url_for('sign_up') }}">Media</a></li>
            <li><a href="{{ url_for('sign_up') }}">Contact</a></li>
            <li><a href="{{ url_for('sign_up') }}">About</a></li>
        </ul>
    </nav>
</header>